@charset "utf-8";
html {
  color: #5A5A5A;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
}
html > body {
  width: 100%;
}
header .header-top {
  background-color: #FF841D;
}
header .header-top .logo {
  display: table-cell;
  vertical-align: middle;
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
}
header .header-top .logo img {
  height: 0.25rem;
  width: 1.85rem;
  vertical-align: middle;
}
header .header-top .download {
  text-align: right;
  line-height: 0.5rem;
}
header .header-top .download a img {
  width: 0.4166665rem;
  height: 0.4166665rem;
  margin-right: 0.1rem;
}
header .header-bottom {
  line-height: 0.5rem;
  border: 1px solid #F1F1F1;
}
header .header-bottom .header-search-input,
header .header-bottom .header-search-button {
  display: inline-block;
  vertical-align: middle;
  height: 0.3rem;
  line-height: 0.3rem;
  border-radius: 0.15rem;
}
header .header-bottom .header-search-input {
  margin-left: 0.1rem;
  background-color: #F1F1F1;
  width: 85%;
  padding-left: 0.1rem;
}
header .header-bottom .header-search-button {
  margin-left: -0.2rem;
  text-align: center;
  background-color: #FF841D;
  width: 0.5rem;
  color: #fff;
}
nav {
  padding: 0.22rem 0;
}
nav .search-item {
  text-align: center;
  margin-bottom: 0.18rem;
}
nav .search-item a {
  display: block;
  margin: 0 auto;
  width: 0.6rem;
}
nav .search-item a img {
  width: 0.5rem;
  height: 0.5rem;
  margin-bottom: 0.05rem;
}
nav .search-item a p {
  font-size: mainBoxSearchItemPFontSize;
  line-height: mainBoxSearchItemPFontSize;
  text-align: center;
  margin: 0 auto;
}
.main {
  margin-bottom: 0.1rem;
}
.main .main-list .media {
  padding: 0.14rem 0.1rem;
  border-bottom: 1px solid #AFAFAF;
  float: left;
}
.main .main-list .media img {
  width: 1rem;
  height: 1rem;
}
.main .main-list .media .media-body {
  position: relative;
}
.main .main-list .media .media-body .product-name {
  color: #333;
}
.main .main-list .media .media-body .product-price {
  color: #FF6C00;
}
.main .main-list .media .media-body .source-info {
  width: 100%;
  position: absolute;
  color: #AFAFAF;
  bottom: 0.2rem;
}
.main .main-list .media .media-body .source-info .product-saler {
  padding-right: 0.04rem;
  border-right: 1px solid #AFAFAF;
  margin-right: 0.04rem;
}
.main .main-bottom {
  background-color: #F7F7F7;
  padding: 0.1rem 0 0 0;
}
.main .main-bottom .main-bottom-more-btn {
  display: block;
  width: 3.38rem;
  height: 0.3rem;
  border: 1px solid #AFAFAF;
  line-height: 0.3rem;
  text-align: center;
  margin: 0 auto 0.2rem;
}
footer {
  position: relative;
}
footer .footer-buttons {
  border-top: 0.02rem solid #F1F1F1;
}
footer .footer-buttons a {
  text-align: center;
  height: 0.34rem;
  line-height: 0.34rem;
  float: left;
  width: 30%;
  border-right: 1px solid #F1F1F1;
  border-bottom: 1px solid #F1F1F1;
}
footer .footer-buttons a:last-of-type {
  width: 29%;
  border-right: none;
}
footer .footer-info {
  text-align: center;
  margin-bottom: 20px;
}
footer .footer-info .foot-info-wrapper {
  margin-top: 0.17rem;
}
footer .footer-info .foot-info-wrapper a {
  color: #F00;
}
