@charset "utf-8";
html {
  color: #F7F7F7;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
}
html > body {
  width: 100%;
}
nav {
  padding: 0.22rem 0;
}
nav .search-item {
  text-align: center;
  margin-bottom: 0.18rem;
}
nav .search-item a {
  display: block;
  margin: 0 auto;
  width: 0.6rem;
}
nav .search-item a img {
  width: 0.5rem;
  height: 0.5rem;
  margin-bottom: 0.05rem;
}
nav .search-item a p {
  font-size: mainBoxSearchItemPFontSize;
  line-height: mainBoxSearchItemPFontSize;
  text-align: center;
  margin: 0 auto;
}
.main {
  margin-bottom: 0.1rem;
}
.main .main-list .media {
  padding: 0.14rem 0.1rem;
  border-bottom: 1px solid #AFAFAF;
  float: left;
}
.main .main-list .media img {
  width: 1rem;
  height: 1rem;
}
.main .main-list .media .media-body {
  position: relative;
}
.main .main-list .media .media-body .product-name {
  color: #333;
}
.main .main-list .media .media-body .product-price {
  color: #FF6C00;
}
.main .main-list .media .media-body .source-info {
  width: 100%;
  position: absolute;
  color: #AFAFAF;
  bottom: 0.2rem;
}
.main .main-list .media .media-body .source-info .product-saler {
  padding-right: 0.04rem;
  border-right: 1px solid #AFAFAF;
  margin-right: 0.04rem;
}
.main .main-bottom {
  background-color: #F7F7F7;
  padding: 0.1rem 0 0 0;
}
.main .main-bottom .main-bottom-more-btn {
  display: block;
  width: 3.38rem;
  height: 0.3rem;
  border: 1px solid #AFAFAF;
  line-height: 0.3rem;
  text-align: center;
  margin: 0 auto 0.2rem;
}
