@charset "utf-8";
@baseFont:"normal normal 10px/16px Microsoft Yahei'";
@baseBgc:#fff;
@baseColor:#5A5A5A;
@fullWidth:100%;
@headBgC:#FF841D;
html{
	font:@baseFont;
	color:@baseColor;
	background-color: @baseBgc;
	width:@fullWidth;
	> body{
		width:@fullWidth;
	}
}